---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="heading">
  <ul>
    <li>
      <h1>Access: <span class="highlight">Granted</span></h1>
    </li>
    <li>
      <h1>Subject: <span class="highlight">Alec Reimel</span></h1>
    </li>
    <li>
      <h1>Class: <span class="highlight">Frontend Web Developer</span></h1>
    </li>
    <li>
      <h1>Mission: <span class="highlight">Classified, ULTRA Level</span></h1>
    </li>
  </ul>
  
  
 
  
</div>

<div class="output">
  <p>This site is a repo for projects by Alec Reimel.</p>
</div>

<div class="output">
  <p>Personal Sites and Resume</p>
  <ul>
    
    <li>Resume / CV: <a href="/css/files/resume-alec.pdf" target="_blank">CV Download</a></li>
    
    <li>Side Business: <a href="http://www.judasbeastco.com/" target="_blank">Judas Beast - Clothing Brand</a></li>
    
    <li>Side Business: <a href="http://www.dungeonmasteraudio.com/" target="_blank">Dungeon Master Audio - Music Gear</a></li>
    
    <li>Side Business: <a href="http://www.necrocult.com/" target="_blank">Necro Cult Zine - Music Blog</a></li>

  </ul>
</div>

<div class="output">
  <p>Frontend Web Development Projects:</p>
  <ul>
    
    <li>Agency Client: <a href="https://explorerutgers.com/" target="_blank">Rutgers - Map Microsite</a></li>
    
    <li>Agency Client: <a href="https://www.pinnaclefcu.com/" target="_blank">Pinnacle FCU</a></li>
    
    <li>Agency Client: <a href="https://realidnj.com/" target="_blank">RealID NJ</a></li>
    
    <li>Agency Client: <a href="https://www.opex.com/" target="_blank">OPEX Corporation</a></li>
    
    <li>Agency Client: <a href="https://pbnj.com/" target="_blank">Princeton Bone &amp; Joint</a></li>
    
    <li>Agency Client: <a href="https://lightbridgeacademy.com/" target="_blank">Lightbridge Academy Day Care</a></li>
    
    <li>Agency Client: <a href="https://cornerstone-companies.com/" target="_blank">Cornerstone Companies</a></li>
    
    <li>Agency Client: <a href="https://www.maxfinkelstein.com/" target="_blank">Max Finkelstein Tires</a></li>
    
    <li>Agency Client: <a href="https://riskinformation.com/" target="_blank">Risk Information</a></li>
    
    <li>Agency Client: <a href="https://bayonnebaynj.com/" target="_blank">Bayonne Bay</a></li>
    
    <li>Agency Client: <a href="https://thegroveatone92.com/" target="_blank">The Grove at One92</a></li>
    
    <li>Agency Client: <a href="https://stationvillage.com/" target="_blank">Station Village</a></li>
    
    <li>Agency Client: <a href="https://hawthornesquare.com/" target="_blank">Hawthorne Square</a></li>
    
  </ul>
</div>

<div class="output">
  <p>Other Major Clients:</p>
  <p>Werther's Originals, Richland Mall, Corpus Christi Outlets, Tejon Outlets, Tejon Ranch, Cobblestone Creek Country Club, </p>
</div>