---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="heading">

	<ul class="small">
		<li>
			<p >INCOMING TRANSMISSION...</p>
		</li>
		<li>
			<p>RECIEVING SIGNAL...</p>
		</li>
		<li>
			<p>DECODING SIGNAL DATA...</p>
		</li>
	</ul>

	<div class="custom_hr"></div>

	<ul>
		<li>
			<h1>Subject: <span class="highlight">Alec Reimel</span></h1>
		</li>
		<li>
			<p>Primary Class: <span class="highlight">Frontend Web Developer</span></p>
		</li>
		<li>
			<p>Sub-Classes: <span class="highlight ">UI, UX, Design, Front-of-Frontend</span></p>
		</li>
		<li>
			<p>Alt-Classes: <span class="highlight ">Tracking & Analytics, ADA & Accessibility, SEO & SEM, Campaign Setup, Social Media Integration, Photoshop, Graphic Design</span></p>
		</li>
		<li>
			<p>Primary Tools: <span class="highlight ">React, Node, Next.JS, HTML5, CSS3, Javascript, Photoshop, Figma, Webflow, Git, </span></p>
		</li>
	</ul>

</div>

<div class="output">
	<p>This site is a repo for projects by Alec Reimel.</p>
	<br/>
	<p>It contains links to all relevant information, including: resume, Github, projects at current/previous employers, and side businesses.</p>
</div>

<div class="custom_hr"></div>

<div class="output">
	<p>Resume, Github</p>

	<ul>

		<li>Resume / CV: <a href="/css/files/resume-alec.pdf" target="_blank">CV Download</a></li>
		<li>GitHub: <a href="https://github.com/areimel" target="_blank">GitHub Account</a></li>
		<ul>
			<li>Plugin - Public Release: <a href="https://github.com/areimel/holy-mountain-analytics" target="_blank">Holy Mountain Analytics</a></li>
			<li>Plugin - Pre-Release: <a href="https://github.com/areimel/Holy-Mountain-DevKit" target="_blank">Holy Mountain DevKit</a></li>
			<li>Framework - Pre-Release: <a href="https://github.com/areimel/Holy-Mountain-DevKit" target="_blank">Holy Mountain Framework</a></li>
		</ul>
		<!-- <li>Side Business: <a href="https://www.judasbeastco.com/" target="_blank">Judas Beast - Clothing Brand</a></li>

		<li>Side Business: <a href="http://dungeonmasteraudio.com/" target="_blank">Dungeon Master Audio - Music Gear</a></li>
		<li>Music Zine: <a href="https://www.necro-cult.com/" target="_blank">Necro Cult Zine - Music Blog</a></li> -->

	</ul>
</div>

<div class="custom_hr"></div>

<div class="output">
	<p>Frontend Web Development Projects:</p>

	<ul>

		<li>Agency Client: <a href="https://explorerutgers.com/" target="_blank">Rutgers - Map Microsite</a></li>

		<li>Agency Client: <a href="https://www.pinnaclefcu.com/" target="_blank">Pinnacle FCU</a></li>

		<li>Agency Client: <a href="https://realidnj.com/" target="_blank">RealID NJ</a></li>

		<li>Agency Client: <a href="https://www.opex.com/" target="_blank">OPEX Corporation</a></li>

		<li>Agency Client: <a href="https://pbnj.com/" target="_blank">Princeton Bone &amp; Joint</a></li>

		<li>Agency Client: <a href="https://lightbridgeacademy.com/" target="_blank">Lightbridge Academy Day Care</a></li>

		<li>Agency Client: <a href="https://cornerstone-companies.com/" target="_blank">Cornerstone Companies</a></li>

		<li>Agency Client: <a href="https://www.maxfinkelstein.com/" target="_blank">Max Finkelstein Tires</a></li>

		<li>Agency Client: <a href="https://riskinformation.com/" target="_blank">Risk Information</a></li>

		<li>Agency Client: <a href="https://bayonnebaynj.com/" target="_blank">Bayonne Bay</a></li>

		<li>Agency Client: <a href="https://thegroveatone92.com/" target="_blank">The Grove at One92</a></li>

		<li>Agency Client: <a href="https://stationvillage.com/" target="_blank">Station Village</a></li>

		<li>Agency Client: <a href="https://hawthornesquare.com/" target="_blank">Hawthorne Square</a></li>

	</ul>
</div>

<div class="custom_hr"></div>

<div class="output">
	<p>Other Major Clients:</p>
	<p>Werther's Originals, NJM Insurance, Richland Mall, Corpus Christi Outlets, Tejon Outlets, Tejon Ranch, Cobblestone Creek Country Club</p>
</div>