---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="output">
  <p>This site is a repo for projects by Alec Reimel.</p>
</div>

<div class="output">
  <p>Personal Sites and Resume</p>
  <ul>
    <li>Resume / CV: <a href="/css/files/resume-alec.pdf" target="_blank">CV Download</a></li>
    <li>Heavy Metal Clothing Brand: <a href="http://www.judasbeastco.com/" target="_blank">Judas Beast</a></li>
  </ul>
</div>

<div class="output">
  <p>Frontend Web Development Projects:</p>
  <ul>
    <li>Link: <a href="https://explorerutgers.com/" target="_blank">Rutgers - Map Microsite</a></li>
    <li>Link: <a href="https://www.pinnaclefcu.com/" target="_blank">Pinnacle FCU</a></li>
    <li>Link: <a href="https://realidnj.com/" target="_blank">RealID NJ</a></li>
    <li>Link: <a href="https://www.opex.com/" target="_blank">OPEX Corporation</a></li>
    <li>Link: <a href="https://pbnj.com/" target="_blank">Princeton Bone &amp; Joint</a></li>
    <li>Link: <a href="https://bliss.wertherscaramel.com/" target="_blank">Werther's Originals - Bliss</a></li>
    <li>Link: <a href="https://cornerstone-companies.com/" target="_blank">Cornerstone Companies</a></li>
    <li>Link: <a href="https://www.maxfinkelstein.com/" target="_blank">Max Finkelstein Tires</a></li>
  </ul>
</div>